<div class="bodyWithPadding">
  <app-waiting-spinner [done]="receiveDataDone"></app-waiting-spinner>

  <ng-container *ngIf="receiveDataDone">

    <div class="result">
      <span>合計点＝<b>{{VPtotal}}</b></span>
      <span class="marginedElement">
        <button md-raised-button (click)="resetNumbers()">reset</button>
      </span>

      <app-my-name-selector [(myName)]="myName" (myNameChange)="updateVPtotal()">
      </app-my-name-selector>

      <span class="spacer"></span>

      <span>
        <app-card-image-size-slider
          min="70" max="280" default="180" [(value)]="cardLongSideLength" >
        </app-card-image-size-slider>
      </span>
    </div>

    <hr>

    <div *ngIf="myName">

      <table class="OtherVictoryPoints">
        <tr *ngFor="let victoryPoint of OtherVictoryPoints">
          <td nowrap> {{victoryPoint.title}} </td>
          <td>
            <button md-raised-button class="miniButton"
                [disabled]="numberOfVictoryCards[ victoryPoint.id ] <= 0"
                (click)="decrement( victoryPoint.id, 2 )">
                <md-icon>exposure_neg_2</md-icon>
            </button>
          </td>
          <td>
            <button md-raised-button class="miniButton"
                [disabled]="numberOfVictoryCards[ victoryPoint.id ] <= 0"
                (click)="decrement( victoryPoint.id, 1 )">
              <md-icon>exposure_neg_1</md-icon>
            </button>
          </td>
          <td>
            <md-input-container>
              <input mdInput type="number"
                min="0"
                [(ngModel)]="numberOfVictoryCards[ victoryPoint.id ]"
                onclick="this.select(0, this.value.length)"
                (input)="setValue( victoryPoint.id, $event )">
            </md-input-container>
          </td>
          <td>
            <button md-raised-button class="miniButton"
                (click)="increment( victoryPoint.id, 1 )">
              <md-icon>exposure_plus_1</md-icon>
            </button>
          </td>
          <td>
            <button md-raised-button class="miniButton"
                (click)="increment( victoryPoint.id, 2 )">
              <md-icon>exposure_plus_2</md-icon>
            </button>
          </td>
        </tr>
      </table>

      <hr>

      <table class="OtherSettings">
        <ng-container *ngFor="let setting of OtherSettings">
          <tr *ngIf="setting.display">

            <td nowrap> {{setting.title}} </td>
            <td>
              <button md-raised-button class="miniButton"
                  [disabled]="numberOfVictoryCards[ setting.id ] <= 0"
                  (click)="decrement( setting.id, 2 )">
                <md-icon>exposure_neg_2</md-icon>
              </button>
            </td>
            <td>
              <button md-raised-button class="miniButton"
                  [disabled]="numberOfVictoryCards[ setting.id ] <= 0"
                  (click)="decrement( setting.id, 1 )">
                <md-icon>exposure_neg_1</md-icon>
              </button>
            </td>
            <td>
              <md-input-container>
                <input mdInput type="number"
                  min="0"
                  [(ngModel)]="numberOfVictoryCards[ setting.id ]"
                  onclick="this.select(0, this.value.length)"
                  (input)="setValue( setting.id, $event )">
              </md-input-container>
            </td>
            <td>
              <button md-raised-button class="miniButton"
                  (click)="increment( setting.id, 1 )">
                <md-icon>exposure_plus_1</md-icon>
              </button>
            </td>
            <td>
              <button md-raised-button class="miniButton"
                  (click)="increment( setting.id, 2 )">
                <md-icon>exposure_plus_2</md-icon>
              </button>
            </td>

          </tr>
        </ng-container>
      </table>

      <hr>

      <div>
        <ng-container *ngFor="let victoryCard of VictoryCards">
          <span *ngIf="victoryCard.display" class="VictoryCard">

            <app-dominion-card-image
                class="cardImage"
                [height]="cardLongSideLength"
                [isButton]="false"
                [faceUp]="true"
                [description]=""
                [card]="card( victoryCard.id )">
            </app-dominion-card-image>
            <span class="VPPerCard">
              {{VPPerCard( victoryCard.id )}} VP
            </span>
            <span class="setNumberOfCards">
              <button md-raised-button class="miniButton" *ngIf="victoryCard.maxNumber >= 12"
                  [disabled]="numberOfVictoryCards[ victoryCard.id ] <= 0"
                  (click)="decrement( victoryCard.id, 2 )">
                <md-icon>exposure_neg_2</md-icon>
              </button>
              <button md-raised-button class="miniButton"
                  [disabled]="numberOfVictoryCards[ victoryCard.id ] <= 0"
                  (click)="decrement( victoryCard.id, 1 )">
                <md-icon>exposure_neg_1</md-icon>
              </button>
              <span class="marginedElement">
                {{numberOfVictoryCards[ victoryCard.id ]}}
              </span>
              <button md-raised-button class="miniButton"
                  [disabled]="numberOfVictoryCards[ victoryCard.id ] >= victoryCard.maxNumber"
                  (click)="increment( victoryCard.id, 1 )">
                <md-icon>exposure_plus_1</md-icon>
              </button>
              <button md-raised-button class="miniButton" *ngIf="victoryCard.maxNumber >= 12"
                  [disabled]="numberOfVictoryCards[ victoryCard.id ] >= victoryCard.maxNumber"
                  (click)="increment( victoryCard.id, 2 )">
                <md-icon>exposure_plus_2</md-icon>
              </button>
            </span>

            <!-- Distant_Lands_on_TavernMat -->
            <span *ngIf="victoryCard.id == 'Distant_Lands'" class="setNumberOfCards">
              <span class="marginedElement">on Tavern mat</span>
              <button md-raised-button class="miniButton"
                  [disabled]="numberOfVictoryCards.Distant_Lands_on_TavernMat <= 0"
                  (click)="decrement( 'Distant_Lands_on_TavernMat', 1 )">
                <md-icon>exposure_neg_1</md-icon>
              </button>
              <span class="marginedElement">
                {{numberOfVictoryCards.Distant_Lands_on_TavernMat}}
              </span>
              <button md-raised-button class="miniButton"
                  (click)="increment( 'Distant_Lands_on_TavernMat', 1 )">
                <md-icon>exposure_plus_1</md-icon>
              </button>
            </span>

          </span>
        </ng-container>
      </div>
    </div>

  </ng-container>

</div>
