
<h1 md-dialog-title>
  {{card.name_jp}} ({{card.name_eng}})
</h1>


<div md-dialog-content class="content">
  <div class="description">
    <ul>
      <li *ngFor="let item of items"> 【{{item.name}}】{{card[item.memberName]}}</li>
    </ul>
  </div>
  <div class="image">
    <app-dominion-card-image [card]='card' [faceUp]='faceUp' [width]='width'></app-dominion-card-image>
  </div>
</div>


<div md-dialog-actions class="actionButtons">
    <button md-raised-button color='primary' class='actionButton' (click)="dialogRef.close()">OK</button>
</div>
