
.actionButtons {
  margin: auto;
  width: 100%;
  /*align-items: center;*/
  justify-content: center;
}

.description {
  float: left;
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
}
.image {
  float: left;
  width: 40%;
}
