<div class="bodyWithPadding two-column">
  <div class="randomizerOptions">
    <app-expansions-toggle
        [isSelectedExpansions]="isSelectedExpansions"
        (isSelectedExpansionsPartEmitter)="expansionToggleOnChange( $event )" >
    </app-expansions-toggle>
    <div class="marginedElement">
      <button md-raised-button color='primary'
          (click)='randomizerClicked()'
          [disabled]="randomizerButtonLocked || expansionsToggleIsEmpty()">
        Randomizer
      </button>
    </div>
    <div class="marginedElement">
      <button md-raised-button [color]="(randomizerButtonLocked ? 'warn' : 'primary' )"
            (click)='lockRandomizerButton( !randomizerButtonLocked )'>
        {{(randomizerButtonLocked ? "Unlock" : "Lock" )}}
      </button>
    </div>
  </div>

  <div>
    <app-selected-cards-list
      showSelectedCardsCheckbox="true"
      [selectedCards]="selectedCards"
      [selectedCardsCheckbox]="selectedCardsCheckbox"
      (selectedCardsCheckboxPartEmitter)="selectedCardsCheckboxOnChange( $event )">
    </app-selected-cards-list>
  </div>
</div>
