.Prosperity_DarkAges {
  margin: 10px;
}

#randomizerOptions,
#DominionSetList,
#supplyTable {
  padding: 20px;
  flex-basis: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
