<app-randomizer
    [(randomizerButtonLocked)]="randomizerButtonLocked"
    (randomizerButtonLockedChange)="randomizerButtonLockedOnChange( $event )"
    [selectedCards]="selectedCards"
    (selectedCardsChange)="selectedCardsOnChange( $event )"
    (BlackMarketPileShuffledChange)="BlackMarketPileShuffledOnChange( $event )"
    [DominionSetToggleValues]="DominionSetToggleValues"
    (DominionSetToggleValueIndexValuePairEmitter)="DominionSetToggleValuesOnChange( $event )"
    showSelectedCardsCheckbox="true"
    [selectedCardsCheckboxValues]="selectedCardsCheckboxValues"
    (selectedCardsCheckboxValueIndexValuePairEmitter)="selectedCardsCheckboxValuesOnChange( $event )"
    (selectedCardsCheckboxValuesOnReset)="selectedCardsCheckboxValuesOnReset()"
  >
</app-randomizer>

