
<div>

  <div *ngIf="itemsPerPageOptions != undefined" class="pagerWrapper">
    <app-my-data-table--items-per-page
        [itemsPerPageDefault]='itemsPerPageDefault'
        [itemsPerPageOptions]='itemsPerPageOptions'
        [(itemsPerPage)]='itemsPerPage'
        [(selectedPageIndex)]='selectedPageIndex' >
    </app-my-data-table--items-per-page>

    <app-my-data-table--pagenation
        [itemsPerPage]='itemsPerPage'
        [dataSize]='filteredData.length'
        [(selectedPageIndex)]='selectedPageIndex' >
    </app-my-data-table--pagenation>


    <app-my-data-table--reset-buttons (click)='reset()' >
    </app-my-data-table--reset-buttons>

    <span>{{filteredData.length}} items</span>
    <div class='clear'></div>
  </div>


  <table class='my-data-table my-data-table--shadow3px my-data-table--vertical-line'>
    <thead>
      <tr>
        <th *ngFor='let column of columnSettings'
            [class.my-data-table--cell-alignLeft]  ="column.align == 'l' "
            [class.my-data-table--cell-alignCenter]="column.align == 'c' "
            [class.my-data-table--cell-alignRight] ="column.align == 'r' " >

          <span *ngIf="column.manip == 'none'">
            {{column.headerTitle}}
          </span>

          <!--
          <button md-button disableRipple *ngIf="column.manip == 'sort'"
              class="headerSortButton"
              (click)="sortColumn( column.manipState, column.name )" >
            {{column.headerTitle}}
            <md-icon *ngIf="column.manipState == 'accending' " class='sortIcon'>arrow_drop_up</md-icon>
            <md-icon *ngIf="column.manipState == 'descending'" class='sortIcon'>arrow_drop_down</md-icon>
          </button>-->

          <ng-container *ngIf="column.manip == 'filterBySelecter'">
            <md-select
                [(ngModel)]="column.manipState"
                [placeholder]="column.headerTitle"
                (change)="updateView()" >
              <!--<md-option *ngFor="let option of selectorOptions[ column.name ]"-->
              <md-option *ngFor="let option of column.options"
                  [value]="option">
                {{ option }}
              </md-option>
            </md-select>
            <button md-icon-button (click)="reset( column.name )">
              <md-icon class='clearSelectIcon'>clear</md-icon>
            </button>
          </ng-container>

          <ng-container *ngIf="column.manip == 'incrementalSearch'" >
            <md-input-container>
              <input mdInput
                  id="filteringInputBox"
                  [placeholder]="column.headerTitle"
                  [(ngModel)]="column.manipState"
                  (keyup)="updateView()" >
              <button mdSuffix md-icon-button (click)="reset( column.name )">
                <md-icon class='clearSelectIcon'>clear</md-icon>
              </button>
            </md-input-container>
            <!--<button md-icon-button (click)="reset( column.name )">
              <md-icon class='clearSelectIcon'>clear</md-icon>
            </button>-->
          </ng-container>

          <ng-container *ngIf="column.manip == 'autoComplete'" >
            <md-input-container>
                <input mdInput
                    [placeholder]="column.headerTitle"
                    [(ngModel)]="column.manipState"
                    [mdAutocomplete]=autoCompColumn
                    [formControl]="stateCtrl">
            </md-input-container>
            <md-autocomplete #autoCompColumn="mdAutocomplete">
                <md-option *ngFor="let option of column.asyncOptions | async" [value]="option">
                    {{ option }}
                </md-option>
            </md-autocomplete>
          </ng-container>

        </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let value of this.getDataAtPage( this.selectedPageIndex ); let rowIndex = index'>
        <td *ngFor='let column of columnSettings'
            [class.my-data-table--cell-alignLeft]  ="column.align=='l'"
            [class.my-data-table--cell-alignCenter]="column.align=='c'"
            [class.my-data-table--cell-alignRight] ="column.align=='r'" >

          <button md-button color="primary" *ngIf="column.button" (click)="clicked(rowIndex, column.name)">
            {{ value[column.name] }}
          </button>
          <span *ngIf="!column.button">
            {{ value[column.name] }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>


  <div *ngIf="itemsPerPageOptions != undefined" class="pagerWrapper">
    <app-my-data-table--items-per-page
        [itemsPerPageDefault]='itemsPerPageDefault'
        [itemsPerPageOptions]='itemsPerPageOptions'
        [(itemsPerPage)]='itemsPerPage'
        [(selectedPageIndex)]='selectedPageIndex' >
    </app-my-data-table--items-per-page>

    <app-my-data-table--pagenation
        [(selectedPageIndex)]='selectedPageIndex'
        [itemsPerPage]='itemsPerPage'
        [dataSize]='filteredData.length' >
    </app-my-data-table--pagenation>


    <app-my-data-table--reset-buttons (click)='reset()' >
    </app-my-data-table--reset-buttons>

    <span>{{filteredData.length}} items</span>
    <div class='clear'></div>
  </div>


</div>
