
table.my-data-table {
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    white-space: nowrap;
    background-color: white;
    border-collapse: collapse;
    font-size: 13px;
}
table.my-data-table--shadow3px {
    box-shadow : 
    0 3px 4px 0 rgba(0,0,0,.14),
    0 3px 3px -2px rgba(0,0,0,.2),
    0 1px 8px 0 rgba(0,0,0,.12)
}

.my-data-table th,
.my-data-table td {
    position: relative;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.06);
    box-sizing: border-box;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
}

.my-data-table th {
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  font-size: 14px;
  color: rgba(0,0,0,.54);
  /*padding: 0 18px 12px 18px;  */
}

.my-data-table--vertical-line th,
.my-data-table--vertical-line td {
    border: 1px solid rgba(0,0,0,.06);
}


.my-data-table--cell-numeric {
    text-align: right;
}
.my-data-table--cell-alignRight {
    text-align: right;
}
.my-data-table--cell-alignLeft {
    text-align: left;
}
.my-data-table--cell-alignCenter {
    text-align: center;
}

.my-data-table tbody tr:hover {
    background: rgba(0,0,0,0.06);
}




.my-data-table .clearSelectIcon {
    font-size: 16px;
}
tbody button {
    font-weight: 700;  
}

.pagerWrapper {
    margin: 20px;
}

/*
.my-data-table--stripe tbody tr:nth-child(even){
    background:#F2F2FF;
}*/
