/*to put button in the middle of dialog*/
.actionButtons {
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.selectedDominionSetString,
.Prosperity_DarkAges {
  margin: 10px;
}


#Prosperity,
#DarkAges {
  margin: 10px;
}

#playerResult,
#supplyTable {
  padding: 20px;
  flex-basis: auto;
}
