<div  class="bodyWithPadding" >

  <h3>部屋を作成</h3>

   <div class="marginedElement">
      <app-my-name-selector [(myName)]="myName">
      </app-my-name-selector>
  </div>


  <div class="marginedElement">
    <div>
      <span>人数：</span>
      <button md-raised-button class="miniButton"
          [disabled]="newRoom.numberOfPlayers <= 2"
          (click)="decrement()">
        <md-icon>exposure_neg_1</md-icon>
      </button>
      <span>{{newRoom.numberOfPlayers}}人</span>
      <button md-raised-button class="miniButton"
          [disabled]="newRoom.numberOfPlayers >= 6"
          (click)="increment()">
        <md-icon>exposure_plus_1</md-icon>
      </button>
    </div>
  </div>

  <hr>
  <app-randomizer-select-cards [showCheckbox]="false"></app-randomizer-select-cards>

  <span class="marginedElement">
    <button md-raised-button color='primary'
      (click)="newGame()">
      OK
    </button>
  </span>
</div>
