<ng-container *ngIf="appName">
  <md-toolbar color="primary">
    <span>{{appName}}</span>
  </md-toolbar>
</ng-container>


<div *ngFor="let app of apps$ | async">
  <md-card class="appElement"
      [class.inService]="app.inService"
      [class.notInService]="!(app.inService)"
      [routerLink]="app.routerLink">
    <md-card-title>{{app.title}} <span *ngIf="!app.inService"></span></md-card-title>
    <md-card-subtitle>{{app.subtitle}}</md-card-subtitle>
    <md-card-content>{{app.description}}</md-card-content>
  </md-card>
</div>
