<div class="bodyWithPadding" (click)="backgroundClicked()">
  <div *ngFor="let room of gameRoomList | reverse">
    <md-card class="roomListItem"
        [class.notWaitingForPlayers]="!room.waitingForPlayers"
        (click)="roomClicked( room.databaseKey )">

      <md-card-header>
        <md-icon md-card-avatar>group</md-icon>
        <md-card-title> {{room.name}} </md-card-title>
        <md-card-subtitle>
          {{room.players.join(", ")}}<br>
          {{utils.toYMDHMS(room.date)}}
        </md-card-subtitle>
      </md-card-header>

      <md-card-content *ngIf="room.databaseKey === selectedRoomID">
        {{(room.waitingForPlayers ? '参加者募集中' : '対戦中')}}
      </md-card-content>

      <md-card-actions *ngIf="room.databaseKey === selectedRoomID">
        <button md-raised-button color="primary"
              (click)="signIn( room.databaseKey )"
              [disabled]="!myName || !room.waitingForPlayers" >
          参加
        </button>
      </md-card-actions>

    </md-card>
  </div>

  <button md-raised-button (click)="resetRooms()">Reset rooms</button>
</div>
