<md-toolbar color='primary' class='header box-shadow'>
  <a md-icon-button routerLink='/'> <md-icon>home</md-icon> </a>

  <!-- <a *ngIf="signedIn$ | async"
      class='toolbarButton' md-button
      routerLink='/online-randomizer' >
    Online Randomizer
  </a> -->
  <a *ngIf="signedIn$ | async"
      class='toolbarButton' md-button
      routerLink='/gameresult'>
    Game Results
  </a>

  <span class="spacer"></span>

  <span class="userName">{{ myDisplayName$ | async }}</span>
  <ng-container *ngIf="!(signedIn$ | async)">
    <a md-icon-button routerLink='/user_admin'> <md-icon>person</md-icon> </a>
  </ng-container>

  <ng-container *ngIf="signedIn$ | async">
    <a md-icon-button [mdMenuTriggerFor]="menu"> <md-icon>person</md-icon> </a>

    <md-menu #menu="mdMenu" [overlapTrigger]="false">
      <!--<span md-menu-item >マイページ</span>-->
      <a md-menu-item routerLink='/user_admin'>ユーザー設定</a>
      <button md-menu-item (click)="logout()">
        <span>ログアウト</span>
      </button>
    </md-menu>
  </ng-container>

</md-toolbar>


<!--dummy-->
<md-toolbar> </md-toolbar>

<router-outlet></router-outlet>
