<div class="bodyWithPadding">

  <div class="CardArea KingdomCards10" *ngIf="SelectedCards.KingdomCards10.length > 0">
    <ng-container *ngFor="let cardIndex of SelectedCards.KingdomCards10" >
      <dominion-card-image isButton="true" (click)="cardInfoButtonClicked( cardIndex )"
        [card]='CardPropertyList[cardIndex]' [faceUp]='true' [width]='longSideLength'>
      </dominion-card-image>
    </ng-container>
  </div>


  <!--
  <div class="CardArea" id="Prosperity"  *ngIf="SelectedCards.Prosperity">
    <dominion-card-image
      card='Platinum.data' faceUp='true' [width]='longSideLength'>
    </dominion-card-image>
    <dominion-card-image
      card='Colony.data' faceUp='true' [width]='longSideLength'>
    </dominion-card-image>
  </div>
  -->


  <div class="CardArea BaneCard__Obelisk"
      *ngIf="SelectedCards.BaneCard.length + SelectedCards.Obelisk.length > 0">
    <ng-container *ngFor="let cardIndex of SelectedCards.BaneCard" >
      <dominion-card-image isButton="true" (click)="cardInfoButtonClicked( cardIndex )"
        [card]='CardPropertyList[cardIndex]' [faceUp]='true' [width]='longSideLength'>
      </dominion-card-image>
    </ng-container>

    <ng-container *ngFor="let cardIndex of SelectedCards.Obelisk" >
      <dominion-card-image isButton="true" (click)="cardInfoButtonClicked( cardIndex )"
        [card]='CardPropertyList[cardIndex]' [faceUp]='true' [width]='longSideLength'>
      </dominion-card-image>
    </ng-container>
  </div>


  <div class="CardArea EventCards__LandmarkCards"
      *ngIf="SelectedCards.EventCards.length + SelectedCards.LandmarkCards.length > 0">
    <ng-container *ngFor="let cardIndex of SelectedCards.EventCards" >
      <dominion-card-image isButton="true" (click)="cardInfoButtonClicked( cardIndex )"
        [card]='CardPropertyList[cardIndex]' [faceUp]='true' [height]='longSideLength'>
      </dominion-card-image>
    </ng-container>

    <ng-container *ngFor="let cardIndex of SelectedCards.LandmarkCards" >
      <dominion-card-image isButton="true" (click)="cardInfoButtonClicked( cardIndex )"
        [card]='CardPropertyList[cardIndex]' [faceUp]='true' [height]='longSideLength'>
      </dominion-card-image>
    </ng-container>
  </div>


  <div class="CardArea BlackMarketPile" *ngIf="SelectedCards.BlackMarketPile.length > 0">
    <ng-container *ngFor="let cardIndex of SelectedCards.BlackMarketPile" >
      <dominion-card-image isButton="true" (click)="cardInfoButtonClicked( cardIndex )"
        [card]='CardPropertyList[cardIndex]' [faceUp]='true' [width]='longSideLength'>
      </dominion-card-image>
    </ng-container>
  </div>
</div>
