.httpGetWaitingSpinner {
  width:24px;
}

/*sidenav*/
.sidenavContainer {
  height: calc(100vh - 64px);
  background-color: #F3EBAA;
}

.sidenavMain {
  width: 100%;
}

.sidenav {
  max-width: 400px;
  background-color: #DBF7F7;
}
