<div id="randomizerOptions">

  <div *ngFor="let DominionSet of DominionSetList; let idx = index" >
    <md-slide-toggle color="primary"
          [(ngModel)]="DominionSet.selected"
          (change)="toggleDominionSetList( $event, idx )">
      {{DominionSet.name}}
    </md-slide-toggle>
  </div>

  <div class="marginedElement">
    <button md-raised-button color='primary'
        (click)='randomizerClicked()'
        [disabled]="randomizerButtonDisabled">
      Randomizer
    </button>

    <button md-raised-button [color]="(randomizerButtonDisabled ? 'warn' : 'primary' )"
          (click)='toggleRandomizerButton( randomizerButtonDisabled )'>
      {{(randomizerButtonDisabled ? "Unlock" : "Lock" )}}
    </button>

  </div>
</div>


<div id="supplyTable">
  <div class="Prosperity_DarkAges">
    <span id="Prosperity" *ngIf="SelectedCards.KingdomCards10.length > 0">
      <md-slide-toggle [checked]="SelectedCards.Prosperity">
        植民地場
      </md-slide-toggle>
    </span>

    <span id="DarkAges"   *ngIf="SelectedCards.KingdomCards10.length > 0">
      <md-slide-toggle [checked]="SelectedCards.DarkAges">
        避難所場
      </md-slide-toggle>
    </span>
  </div>

  <table class='my-data-table my-data-table--shadow3px my-data-table--vertical-line'>
    <thead>
      <tr *ngIf="SelectedCards.KingdomCards10.length > 0">
        <th></th>
        <th>セット</th>
        <th>名前</th>
        <th>name</th>
        <th>コスト</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cardIndex of SelectedCards.KingdomCards10; let idx = index ">
        <td>
          <md-checkbox
              [(ngModel)]="SelectedCardsCheckboxValues.KingdomCards10[idx]"
              (change)="SelectedCardsCheckboxOnChange( 'KingdomCards10', idx )">
          </md-checkbox>
        </td>
        <td> {{ CardPropertyList[cardIndex].set_name  }} </td>
        <td>
          <button md-button color="primary" (click)="cardInfoButtonClicked( cardIndex )">
            {{ CardPropertyList[cardIndex].name_jp }}
          </button>
        </td>
        <td> {{ CardPropertyList[cardIndex].name_eng  }} </td>
        <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
      </tr>
    </tbody>

    <thead>
      <tr *ngIf="SelectedCards.BaneCard.length > 0">
        <th colspan="5">災いカード（魔女娘用）</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cardIndex of SelectedCards.BaneCard; let idx = index ">
        <td>
          <md-checkbox
              [(ngModel)]="SelectedCardsCheckboxValues.BaneCard[idx]"
              (change)="SelectedCardsCheckboxOnChange( 'BaneCard', idx )">
          </md-checkbox>
        </td>
        <td> {{ CardPropertyList[cardIndex].set_name  }} </td>
        <td>
          <button md-button color="primary" (click)="cardInfoButtonClicked( cardIndex )">
            {{ CardPropertyList[cardIndex].name_jp }}
          </button>
        </td>
        <td> {{ CardPropertyList[cardIndex].name_eng  }} </td>
        <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
      </tr>
    </tbody>

    <thead>
      <tr *ngIf="SelectedCards.EventCards.length > 0">
        <th colspan="5">Event</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cardIndex of SelectedCards.EventCards; let idx = index ">
        <td>
          <md-checkbox
              [(ngModel)]="SelectedCardsCheckboxValues.EventCards[idx]"
              (change)="SelectedCardsCheckboxOnChange( 'EventCards', idx )">
          </md-checkbox>
        </td>
        <td> {{ CardPropertyList[cardIndex].set_name  }} </td>
        <td>
          <button md-button color="primary" (click)="cardInfoButtonClicked( cardIndex )">
            {{ CardPropertyList[cardIndex].name_jp }}
          </button>
        </td>
        <td> {{ CardPropertyList[cardIndex].name_eng  }} </td>
        <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
      </tr>
    </tbody>

    <thead>
      <tr *ngIf="SelectedCards.LandmarkCards.length > 0">
        <th colspan="5">LandmarkCards</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cardIndex of SelectedCards.LandmarkCards; let idx = index ">
        <td>
          <md-checkbox
              [(ngModel)]="SelectedCardsCheckboxValues.LandmarkCards[idx]"
              (change)="SelectedCardsCheckboxOnChange( 'LandmarkCards', idx )">
          </md-checkbox>
        </td>
        <td> {{ CardPropertyList[cardIndex].set_name  }} </td>
        <td>
          <button md-button color="primary" (click)="cardInfoButtonClicked( cardIndex )">
            {{ CardPropertyList[cardIndex].name_jp }}
          </button>
        </td>
        <td> {{ CardPropertyList[cardIndex].name_eng  }} </td>
        <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
      </tr>
    </tbody>

    <thead>
      <tr *ngIf="SelectedCards.Obelisk.length > 0">
        <th colspan="5">Obelisk 指定カード</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cardIndex of SelectedCards.Obelisk; let idx = index ">
        <td>
          <md-checkbox
              [(ngModel)]="SelectedCardsCheckboxValues.Obelisk[idx]"
              (change)="SelectedCardsCheckboxOnChange( 'Obelisk', idx )">
          </md-checkbox>
        </td>
        <td> {{ CardPropertyList[cardIndex].set_name  }} </td>
        <td>
          <button md-button color="primary" (click)="cardInfoButtonClicked( cardIndex )">
            {{ CardPropertyList[cardIndex].name_jp }}
          </button>
        </td>
        <td> {{ CardPropertyList[cardIndex].name_eng  }} </td>
        <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
      </tr>
    </tbody>

    <thead>
      <tr *ngIf="SelectedCards.BlackMarketPile.length > 0">
        <th colspan="5">闇市場デッキ</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cardIndex of SelectedCards.BlackMarketPile; let idx = index ">
        <td>
          <md-checkbox
              [(ngModel)]="SelectedCardsCheckboxValues.BlackMarketPile[idx]"
              (change)="SelectedCardsCheckboxOnChange( 'BlackMarketPile', idx )">
          </md-checkbox>
        </td>
        <td> {{ CardPropertyList[cardIndex].set_name  }} </td>
        <td>
          <button md-button color="primary" (click)="cardInfoButtonClicked( cardIndex )">
            {{ CardPropertyList[cardIndex].name_jp }}
          </button>
        </td>
        <td> {{ CardPropertyList[cardIndex].name_eng  }} </td>
        <td> {{ CardPropertyList[cardIndex].costStr() }} </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="clear"></div>

