<div class="bodyWithPadding" >
  <span class="marginedElement">
    <button md-raised-button color='primary'
      (click)="makeNewGameRoom()"
      [disabled]="!formIsValid()">
      部屋を作成
    </button>
  </span>

  <div class="marginedElement">
    <div>
      <span>人数（自分含む）：</span>
      <button md-raised-button class="miniButton"
          [disabled]="numberOfPlayers <= 2"
          (click)="decrement()">
        <md-icon>exposure_neg_1</md-icon>
      </button>
      <span>{{numberOfPlayers}}人</span>
      <button md-raised-button class="miniButton"
          [disabled]="numberOfPlayers >= 6"
          (click)="increment()">
        <md-icon>exposure_plus_1</md-icon>
      </button>
    </div>
  </div>

  <hr>
  <app-randomizer
      implementedOnly="true"
      [(selectedCards)]="selectedCards"
      [(BlackMarketPileShuffled)]="BlackMarketPileShuffled"
      [isSelectedExpansions]="isSelectedExpansions"
      (isSelectedExpansionsPartEmitter)="isSelectedExpansionsOnChange( $event )" >
  </app-randomizer>
</div>
