
<button md-button color="primary" id="closeSideNavBtn" (click)="closeSideNav()">
  <md-icon>cancel</md-icon>
</button>
<div class="clear"></div>

<div class="bodyWithPadding sideBarBody"  (click)="backgroundClicked()">

  <div id="addGroup">

    <md-input-container>
      <input mdInput [(ngModel)]="newGroupName" placeholder="new group name" [required]="newGroupName == '' ">
    </md-input-container>
    <md-input-container>
      <input mdInput [(ngModel)]="newGroupPassword" placeholder="password" [required]="newGroupPassword =='' ">
    </md-input-container>

    <button md-raised-button color="primary"
          (click)="addSyncGroup()"
          [disabled]="newGroupName === '' || newGroupPassword === '' ">
      <md-icon>group_add</md-icon>
    </button>
  </div>


  <hr>


  <div *ngFor="let group of syncGroups; let idx = index">
    <md-card class="groupListItem" (click)="groupClicked($event, idx)">

      <md-card-header>
        <md-icon md-card-avatar>group</md-icon>
        <md-card-title> {{group.data.name}} </md-card-title>
        <md-card-subtitle>
          {{getUserNamesInGroup( group.id ).join(", ")}}<br>
          {{utils.toYMDHMS(group.data.getDate())}}
        </md-card-subtitle>
      </md-card-header>

      <md-card-content *ngIf="group.selected">
        <md-input-container [color]="(showWrongPasswordAlert ? 'primary' : 'warn')" >
          <input mdInput placeholder="password" [required]="signInPassword == '' "
              name="signInPassword" [(ngModel)]="signInPassword">
          <md-hint *ngIf="showWrongPasswordAlert" class="alert">
            Password does not match
          </md-hint>
        </md-input-container>
      </md-card-content>

      <md-card-actions *ngIf="group.selected">
        <button md-raised-button color="primary"
              (click)="signIn(group.id)"
              [disabled]="!signInPassword">
          参加
        </button>
        <button md-raised-button color="warn"
              (click)="signOut(group.id)"
              [disabled]="!signInPassword">
          退出
        </button>
      </md-card-actions>

    </md-card>
  </div>



</div>
