/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  font-family: "Helvetica","Arial",sans-serif;
}

a {
  text-decoration: none;
}

body {
	margin: 0;
	background-color: #F3EBAA;
}

.bodyWithMargin {
  margin: 20px;
}

.marginedElement {
    margin: 10px;
}

.alert {
  color: red;
}

.bodyWithoutHeader {
  height: calc(100vh - 64px);  /* subtract header height */
  width: 100vw;
}
