.loginFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formBox {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  min-width: 40vw;
  max-width: 90vw;
  min-height: 60vh;
}

.bodyWithoutHeader {
  height: calc(100vh - 64px);  /* subtract header height */
  width: 100vw;
}
